{% extends 'navigation.html' %}
{% load static %}
{% block main %}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.image1,.image2,.image3,.image4 {
  opacity: 1;
  display: block;
  width: 100%;
  
  transition: .5s ease;
  backface-visibility: hidden;
}



.image1:hover,.image2:hover,.image3:hover,.image4:hover{
  opacity: 0.3;
}





</style>
<body>
<img src="{% static 'images/hostel1.jpg' %}"  style="width:100%; height:450px;">
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-3 p-2">
            <div class="card" style="width:300px">
                <h3 style="color: red">Bedroom Area</h3>
                <img src="{% static 'images/bedroom.jpg' %}" class="image1" style="width:100% ; height : 200px">
            </div>
        </div>

        <div class="col-sm-3 p-2">
            <div class="card" style="width:300px">
                <h3 style="color: red">Kitchen Area</h3>
                <img src="{% static 'images/kitchen-area.jpg' %}" class="image2" style="width:100% ; height : 200px">
            </div>
        </div>

        <div class="col-sm-3 p-2">
            <div class="card" style="width:300px">
                <h3 style="color: red">Bathroom Area</h3>
                <img src="{% static 'images/bathroom.jpg' %}" class="image3" style="width:100% ; height : 200px">
            </div>
        </div>

        <div class="col-sm-3 p-2">
            <div class="card" style="width:300px">
                <h3 style="color: red">Dining Area</h3>
                <img src="{% static 'images/dining.jpg' %}" class="image4" style="width:100% ; height : 200px">
            </div>
        </div>

    </div>
</div>
</body>
<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6">
            <div class="card shadow mt-3">
                <div class="card-body" style="background-color: #d7ccc8; height: 650px;">
                    <h5 class="p-2 text-success">Hostel Rules and Regulations :- </h5>
                    <hr>
                    <marquee width="100%" direction="up" height="80%">
                        <ul>
                            <li><p><span style="color: blue;">The Management & Staff will not be responsible for personal belongings.</span>
                            </p></li>

                            <li><p><span style="color: red;">Students must keep the Campus & Rooms clean. Defacing walls, equipment, furniture etc., is strictly prohibited.</span>
                            </p></li>

                            <li><p><span style="color: green;">Students must turn off all the electrical equipments & lights before leaving their rooms.</span>
                            </p></li>

                            <li><p><span style="color: blue;">Students are not allowed to use electric stoves, heaters etc in rooms except in designated places.</span>
                            </p></li>

                            <li><p><span style="color: red;">Smoking, Alcohol & Narcotic consumption is strictly prohibited in and around the Hostel premises. Strict action will be taken against offenders.</span>
                            </p></li>

                            <li><p><span style="color: green;">All lights must be switched off before 11 pm in the rooms. Only study lamps are permitted.</span>
                            </p></li>

                            <li><p>
                                <span style="color: blue;">The quantity of food will be unlimited except in the case of special items.</span>
                            </p></li>

                            <li><p><span style="color: red;">The students are expected to be inside the hostel by 9.00 pm on weekdays and at 9.30 pm on Saturday and Sunday</span>
                            </p></li>

                            <li><p><span style="color: green;">The students are expected to give their biometric roll call before 9.30 pm on week days and before 10.00 pm on weekends.</span>
                            </p></li>

                            <li><p><span style="color: blue;">No diner shall waste food. Paying mess bill does not entitle a diner to waste food. </span>
                            </p></li>
                        </ul>
                    </marquee>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card shadow mt-3">
                <div class="card-body" style="background-color: #d7ccc8">
                    <h5 class="p-2 text-primary">Regular Menu :-</h5>
                    <hr>
                    <table>
                        <tr style="background-color: yellow">
                            <th>DAYS</th>
                            <th>BREAKFAST</th>
                            <th>LUNCH</th>
                            <th>DINNER</th>
                        </tr>
                        <tr>
                            <td style="color: red">Sunday</td>
                            <td>Bread,Channa Grave</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>White Rice, Rasam Poriyal, Curd Rice</td>
                        </tr>

                        <tr>
                            <td style="color: red">Monday</td>
                            <td>Poha</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>Chappathi, Veg.Kurma</td>
                        </tr>

                        <tr>
                            <td style="color: red">Tuesday</td>
                            <td>Idly</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>Parotta, Veg Kurma</td>
                        </tr>

                        <tr>
                            <td style="color: red">Wednesday</td>
                            <td>White Pongal</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>Idiappam Veg Kurma</td>
                        </tr>

                        <tr>
                            <td style="color: red">Thursday</td>
                            <td>Semiya Kichhadi</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>Puri Masala</td>
                        </tr>

                        <tr>
                            <td style="color: red">Friday</td>
                            <td>Dosa</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>White Rice, Rasam Poriyal, Curd Rice</td>
                        </tr>

                        <tr>
                            <td style="color: red">Saturday</td>
                            <td>Poha Samosa</td>
                            <td>White Rice, Paneer,Rasam or Curd Rice</td>
                            <td>White Rice, Rasam Poriyal, Curd Rice</td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- User Registration -->
{% if error == "no" %}
<script>
	   alert('Registration Successfully');
       window.location=('{% url 'user_login' %}');
</script>
{% endif %}

{% if error == "yes" %}
<script>
	    alert('Something went wrong, Try Again');



</script>
{% endif %}

<script>
    function checkpass()
    {
      if(document.signup.password.value!=document.signup.cpwd.value){
        alert('Password and Confirm Password field does not match');
        document.signup.cpwd.focus();
        return false;
      }
      return true;
    }
</script>

<div class="modal fade" id="userRegModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="userRegModalLabel"
                    style="font-family: 'Monotype Corsiva'; font-size: 35px;">Regsitration Form</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" class="signup" name="signup" enctype="multipart/form-data"
                      onsubmit="return checkpass();">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label class="form-label">Registration No</label> <input type="number"
                                                                                 class="form-control" name="regNo"
                                                                                 value="{{regno}}" readonly>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">First Name</label> <input type="text"
                                                                            class="form-control" name="firstName"
                                                                            id="firstName"
                                                                            placeholder="Enter here First Name"
                                                                            required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Last Name</label> <input type="text"
                                                                           class="form-control" name="lastName"
                                                                           id="lastName"
                                                                           placeholder="Enter here Last Name" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="file" name="image" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <select name="gender" class="form-control" required="required">
                            <option value="">Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Contact Number</label> <input
                            type="text" class="form-control" name="contactNo" id="contactNo"
                            placeholder="91XXXXXXXX" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Email ID</label> <input type="email"
                                                                          class="form-control" name="email" id="email"
                                                                          placeholder="Ex-abc@gmail.com" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="Enter here Password" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="cpwd" id="cpwd"
                               placeholder="Enter Again Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- End User Registration -->

<!-- User Login -->

<div class="modal fade" id="userLoginModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="userLoginModalLabel"
                    style="font-family: 'Monotype Corsiva'; font-size: 35px;">User Login</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label class="form-label">Email ID</label> <input type="email"
                                                                          class="form-control" name="email"
                                                                          placeholder="Ex-abc@gmail.com" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Enter here Password"
                               required>
                    </div>

                    <button type="submit" class="btn btn-primary" name="submit">Submit</button>
                </form>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- End User Login -->
{% include 'footer.html' %}
{% endblock %}